body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.SectionOneBackground {
    background-color: #1f2937;
}

.Headerbox {
    align-items: center;
    background-color: #1f2937;
    margin-top: auto;
    padding-left: 150px;
    padding-right: 150px;
}
header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header h1 {
    font-size: 24px;
    color: #f9faf8;
    font-family: roboto;
}

ul {
    display: flex;
    list-style: none;
    padding: none;

    gap: 10px;
}

li {
    padding: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5e7eb;
}

.container {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
    padding-top: 80px;
}

.awesomecontainer {
    width: 400px
}

.awesomecontainer h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.awesomecontainer p {
    font-size: 18px;
    color: #E5e7eb; 
    margin-bottom: 15px; 
    padding: 0px; 
}

button {
    color: #fefeff;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px;
    border: 0px;
    gap: 5px;
}
button a {
    padding: 25px;
    font-weight: 700;
}

.imagecontainer {
    display: flex;
    width: 400px;
}

.SectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SectionTwo h1 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.infobox {
    display: flex;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

.infobox p {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info1 div {
    border: 4px solid rgb(3, 140, 231);
    border-radius: 12px;
    width: 120px;
    height: 120px;
}

.info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info2 div {
    border: 4px solid rgb(3, 140, 231);
    border-radius: 12px;
    width: 120px;
    height: 120px;
}

.info3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info3 div {
    border: 4px solid rgb(3, 140, 231);
    border-radius: 12px;
    width: 120px;
    height: 120px;
}

.info4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info4 div {
    border: 4px solid rgb(3, 140, 231);
    border-radius: 12px;
    width: 120px;
    height: 120px;
}
.sectionThree {
    background-color: #E5e7eb;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 80px;
    padding-top: 80px;
    
}

.QuoteBox .Quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.SectionFour {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SectionFour {
    padding: 150px 100px;
}

.SectionFour .CallToActionBox {
   background-color: #3882f6;
   padding: 30px 140px;
   border-radius: 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 120px;
}

.CallToActionBox .ButtonBox {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CallToActionText {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

.CallToActionText .main {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}

.CallToActionText .sub {
    margin-top: 4px;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}